<link href="table.css">

<div class="uixs-table">
    <div class="uixs-header">
        <div class="uixs-head-column">
            TestHeader
        </div>
        <div class="uixs-head-column">
            TestHeader2
        </div>
    </div>
    <div class="uixs-body">
        <div class="uixs-row">
            <div class="uixs-head-column">
                TestColumn1
            </div>
            <div class="uixs-head-column">
                TestColumn2
            </div>
        </div>
        <div class="uixs-row">
            <div class="uixs-head-column">
                TestColumn3
            </div>
            <div class="uixs-head-column">
                TestColumn4
            </div>
        </div>
    </div>
</div>
<script src="table.js"></script>